{% load static %}
{% load image_tags %}
{% load i18n %}
{% load category_tags %}
{% load standard_form %}

<!--
=========================================================
* Argon Design System Pro - v1.0.3
=========================================================

* Product Page: https://www.creative-tim.com/product/argon-design-system-pro
* Copyright 2020 Creative Tim (https://www.creative-tim.com)

Coded by www.creative-tim.com

 =========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static '/argon/img/apple-icon.png' %}">
  <link rel="icon" type="image/png" href="{% static '/favicon.ico' %}">
  <title>
    Beelze Solutions IT Shop
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <!-- Nucleo Icons -->
  <link href="{% static '/argon/css/nucleo-icons.css' %}" rel="stylesheet" />
  <link href="{% static '/argon/css/nucleo-svg.css' %}" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <link href="{% static '/argon/css/font-awesome.css' %}" rel="stylesheet" />
  <link href="{% static '/argon/css/nucleo-svg.css' %}" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="{% static '/argon/css/argon-design-system.css' %}?v=1.0.3" rel="stylesheet" />

  <style>

 .left{float:left;}
 .center{text-align:center;}
 .right{float:right;}

  </style>

  {% block styles %}{% endblock %}
  {% block extrastyles %}{% endblock %}

  {% block extrahead %}{% endblock %}
</head>

<body id="{% block body_id %}default{% endblock %}" class="ecommerce-page {% block body_class %}default{% endblock %}">





  <!-- Navbar -->
  <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg bg-primary navbar-dark position-sticky top-0  py-2">
    <div class="col-lg-12 pr-0 mr-0">
      <div class="row">
      <div class="col-2">
{% include 'website/logo.html' %}
        </div>
        <div class="col-8">
      <div class="row col-12 pr-0 mr-4">
        <!-- Left -->

        <div class="col-7 text-white">

          Telefon: +49 1520 586 15 92 E-Mail: support@beelze-solutions.de
        {# Top-horizontal bar with account, notifictions, dashboard links #}
          </div>
        <!-- /Left -->
        <!-- Center -->

        <!-- /Center -->
        <!-- Right -->


        <!-- /Right -->





       <ul class="navbar-nav navbar-nav-hover">

         <li class="nav-item dropdown">
           <a href="javascript:;" class="nav-link" data-toggle="dropdown" role="button">
             <i class="ni ni-single-copy-04 d-lg-none"></i>
             <span class="nav-link-inner--text">{% trans 'Dienstleistungen' %}</span>
           </a>
         <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
             <a class="dropdown-item" href="{% url 'pages:datamigration' %}">
               <i class="ni ni-tie-bow text-warning"></i>
               {% trans 'Datamigration' %}
             </a>
         </div>

         <li class="nav-item dropdown">
           <a href="javascript:;" class="nav-link" data-toggle="dropdown" role="button">
             <i class="ni ni-single-copy-04 d-lg-none"></i>
             <span class="nav-link-inner--text">{% trans 'Company' %}</span>
           </a>

           <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
             <a class="dropdown-item" href="{% url 'pages:Teamlistview' %}">
               <i class="ni ni-tie-bow text-warning"></i>
               {% trans 'Our Team' %}
             </a>


               <a class="dropdown-item" href="{% url 'pages:csr' %}">
                 <i class="ni ni-tie-bow text-warning"></i>
                 {% trans 'CSR' %}
               </a>
             <a class="dropdown-item" href="{% url 'pages:payment' %}">
                 <i class="ni ni-tie-bow text-warning"></i>
                 {% trans 'Payment' %}
               </a>
             <a class="dropdown-item" href="{% url 'pages:behavior_rules' %}">
                 <i class="ni ni-tie-bow text-warning"></i>
                 {% trans 'Behavior Rules' %}
               </a>
             </div>

         </li>


         {% include 'oscar/partials/ecodms.html' %}
          {% include 'oscar/partials/webshop.html' %}
        </ul>
        </div>
          </div>
           <div class="col-2 float-right">


    {% include "oscar/partials/nav_accounts.html" %}
             <div class="row">
               <div class="col-8 ml-0 pl-0">
            {% include "oscar/partials/languageselector.html" %}
                 </div>
                 <div class="col-4 ml-0">
            {% include "oscar/partials/mini_basket.html" %}
                   </div>
               </div>
            </div>

    </div>
  </nav>
  <!-- End Navbar -->
  <div class="wrapper">
    <div class="page-header page-header-small header-filter skew-separator skew-mini">
      <div class="page-header-image" style="background-image: url('{% block headerimage %}{% static '/argon/img/pages/kevin-grieve.jpg' %}{% endblock %}');"></div>


      <div class="container">
        <div class="row">
          <div class="col-lg-7 col-md-7 mr-auto text-left">
             <h1 class="title text-white">{% block headertitle %}{% endblock %}</h1>
          </div>
        </div>
      </div>



      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </div>

    <div class="section section-item">
      <div class="container">
        <div class="row">


                <!-- Products -->
                {% block layout %}{% endblock %}



        </div><!-- section -->
        </div>
      </div>

       {% include 'website/testimonials.html' %}

        <footer class="footer">
          <div class="container-fluid">
            <div class="row row-grid align-items-center mb-5">

              </div>
            </div>




        <hr>

        <div class="row align-items-center justify-content-md-between">

          <div class="col-md-6">

            <div class="row align-items-center justify-content-md-between">

              <div class="col-md-6">
                <ul class="nav nav-footer justify-content-end">


              <li class="nav-item">
              <a href="{% url 'pages:impressumview' %}" class="nav-link" >Impressum</a>

              </li>
                  <li class="nav-item">
              <a href="{% url 'pages:contact' %}" class="nav-link" >{% trans 'Contact' %}</a>

              </li>
                   <li class="nav-item">
              <a href="{% url 'pages:agb' %}" class="nav-link" >{% trans 'AGB' %}</a>

              </li>
                   <li class="nav-item">
              <a href="{% url 'pages:privacy_statement' %}" class="nav-link" >{% trans 'Privacy statement' %}</a>

              </li>

            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <!--   Core JS Files   -->
  <script src="{% static '/argon/js/core/jquery.min.js' %}" type="text/javascript"></script>
  <script src="{% static '/argon/js/core/popper.min.js' %}" type="text/javascript"></script>
  <script src="{% static '/argon/js/core/bootstrap.min.js' %}" type="text/javascript"></script>
  <script src="{% static '/argon/js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
  <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
  <script src="{% static '/argon/js/plugins/bootstrap-switch.js' %}"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="{% static '/argon/js/plugins/nouislider.min.js' %}" type="text/javascript"></script>
  <!--  Plugin for the Carousel, full documentation here: http://jedrzejchalubek.com/ -->
  <script src="{% static '/argon/js/plugins/glide.js' %}" type="text/javascript"></script>
  <!--  Plugin for the DatePicker, full documentation here: https://flatpickr.js' %}.org/ -->
  <script src="{% static '/argon/js/plugins/moment.min.js' %}"></script>
  <!--	Plugin for Select, full documentation here: https://joshuajohnson.co.uk/Choices/ -->
  <script src="{% static '/argon/js/plugins/choices.min.js' %}" type="text/javascript"></script>
  <!--  Plugin for the DateTimePicker, full documentation here: https://flatpickr.js' %}.org/ -->
  <script src="{% static '/argon/js/plugins/datetimepicker.js' %}" type="text/javascript"></script>
  <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
  <script src="{% static '/argon/js/plugins/jasny-bootstrap.min.js' %}"></script>
  <!-- Plugin for Headrom, full documentation here: https://wicky.nillia.ms/headroom.js' %}/ -->
  <script src="{% static '/argon/js/plugins/headroom.min.js' %}"></script>
  <!-- Control Center for Argon UI Kit: parallax effects, scripts for the example pages etc -->
  <!--  Google Maps Plugin    -->

  <script src="{% static '/argon/js/argon-design-system.min.js' %}?v=1.0.3" type="text/javascript"></script>

  <script>
    window.TrackJS &&
      TrackJS.install({
        token: "ee6fab19c5a04ac1a32a645abde4613a",
        application: "argon-design-system-pro"
      });
  </script>


    <script>
    const validateEmail = function(email) {
    var formData = new FormData();
    formData.append('email', email)
    $.ajaxSetup({
        headers: {
            "X-CSRFToken": document.querySelector('[name=csrfmiddlewaretoken]').value,
        }
    });
    $.ajax({
        url: '/clientaddress/validate/',
        type: 'POST',
        dataType: 'json',
        cache: false,
        processData: false,
        contentType: false,
        data: formData,
        error: function (xhr) {
            console.error(xhr.statusText);
        },
        success: function (res) {
            $('.error').text(res.msg);
        }
    });
};

const contact = function(email, name) {
    var formData = new FormData();
    formData = $('#kontaktform').serialize();

    $.ajaxSetup({
        headers: {
            "X-CSRFToken": document.querySelector('[name=csrfmiddlewaretoken]').value,
        }
    });
    $.ajax({
        url: '/clientaddress/submitcontact/',
        type: 'POST',
        data: formData,
        error: function (xhr) {
            alert(xhr.statusText);
        },
        success: function (res) {
            $("#kontaktform").trigger("reset");
            alert(res.msg)
        }
    });
};

const subscribeUser = function(email, name) {
    var formData = new FormData();
    formData = $('#newsletterform').serialize();

    $.ajaxSetup({
        headers: {
            "X-CSRFToken": document.querySelector('[name=csrfmiddlewaretoken]').value,
        }
    });
    $.ajax({
        url: '/clientaddress/submitnewsletter/',
        type: 'POST',


        data: formData,
        error: function (xhr) {
            alert(xhr.statusText);
        },
        success: function (res) {
            $("#newsletterform").trigger("reset");
            alert(res.msg)


        }
    });
};

(function ($) {
    $('#newslettersubmit').on('click', () => {

        event.preventDefault();
        const userEmail = $('#id_email').val();
        const userName = $('#id_lastname').val();
        if (userEmail && userName) {
            subscribeUser(userEmail, userName);
        }
        else{
            alert("Bitte Nachnamen und E-Mail eingeben")
        }
    });

    $('#kontaktsubmit').on('click', () => {

        event.preventDefault();
        const userEmail = $('#kontaktform #id_email').val();

        const userName = $('#kontaktform #id_lastname').val();
        if (userEmail && userName) {
            contact(userEmail, userName);
        }
        else{
            alert("Bitte Nachnamen und E-Mail eingeben")
        }
    });

    $('#id_email').on('change', (event) => {
        event.preventDefault();
        const email = event.target.value;
        validateEmail(email);
    });
})(jQuery);
</script>

    {# Local scripts #}
        {% block scripts %}
        {% endblock %}

        {# Additional JS scripts #}
        {% block extrascripts %}{% endblock %}
</body>

</html>

