{% load currency_filters %}
{% load i18n %}

<div class="basket-mini text-right d-none d-md-block">
    {% comment %}
    <strong>{% trans "Basket total:" %}</strong>

    {% if request.basket.is_tax_known %}
        {{ request.basket.total_incl_tax|currency:request.basket.currency }}
    {% else %}
        {{ request.basket.total_excl_tax|currency:request.basket.currency }}
    {% endif %}
    {% endcomment %}
    <div class="btn-group">
      <button type="button" class="btn btn-outline-secondary" onclick="window.location.href='{% url 'basket:summary' %}';"><i class="fas fa-shopping-basket"></i></button>

    </div>
</div>