{% load i18n %}


<div class="navbar-collapse account-collapse collapse">


    <ul class="navbar-nav text-default ml-md-auto d-md-flex">
        {% if user.is_authenticated %}
        {% block nav_account_navbar_authenticated %}
        <li class="nav-item text-default mr-2">
            {% if num_unread_notifications > 0 %}
            {# If user has new notifications - we change account link to go to inbox #}
            <a href="{% url 'customer:notifications-inbox' %}" class="mt-2 text-white mt-lg-0">
                <i class="far fa-user mr-2"></i>
                {% trans "Account" %}
                <span class="badge badge-warning">{{ num_unread_notifications }}</span>
            </a>
            {% else %}
            <a href="{% url 'customer:summary' %}" class="mt-2 text-white mt-lg-0">
                <i class="far fa-user text-white mr-2"></i>
                {% trans "Account" %}
            </a>
            {% endif %}
        </li>
        {% if user.is_staff or perms.partner.dashboard_access %}
        <li class="nav-item mr-2">
            <a href="{% url 'dashboard:index' %}" class="text-white">
                <i class="fas fa-list-ul text-white mr-2"></i>
                {% trans "Dashboard" %}
            </a>
        </li>
        {% endif %}
        <li class="nav-item mr-2">
            <a id="logout_link" href="{% url 'customer:logout' %}" class="text-white">
                <i class="fas fa-sign-out-alt text-white mr-2"></i>
                {% trans "Logout" %}
            </a>
        </li>
        {% endblock %}
        {% else %}
        <li class="nav-item mr-2">
            <a id="login_link" href="{% url 'customer:login' %}" class="text-white">
                <i class="fas fa-sign-in-alt text-white mr-2"></i>
                {% trans "Login or register" %}
            </a>
        </li>
        {% endif %}

    </ul>
</div>

