{% extends "oscar/checkout/layout.html" %}
{% load currency_filters %}
{% load i18n %}
{% load image_tags %}
{% load purchase_info_tags %}
{% load tags %}
{% block headertitle %}
{% trans "Checkout" %} | {{ block.super }}
{% endblock %}

{% comment %}
{% block checkout_nav %}
{% include 'oscar/checkout/nav.html' with step=4 %}
{% endblock %}
{% endcomment %}


{% block content %}

{% if error %}
<div class="alert alert-danger">
    {{ error }}
</div>
{% endif %}

<div class="row">
    {% block shipping_address %}

    {% endblock %}
    <div class="col-6 d-flex align-items-stretch">
        {% if 'preview' in request.path %}
        {% include 'oscar/checkout/shipping_address2.html' %}
        {% endif %}


    </div>
    {% include 'oscar/checkout/shipping_method.html' %}

    {% include 'oscar/checkout/payment_details_overview.html' %}
</div>
</div>
</div>
</div>


{% block order_contents %}
<div class="col-6 d-flex align-items-stretch">


    <div class="card col-12">

        <div class="container-fluid content-row">

            <h3 class="title mt-3">Order summary</h3>

            <div class="card-body">


                <div class="media align-items-center mb-3">

                    <table class="col-12">
                        <thead>
                        <tr>
                            <th style="width: 16,66%">Image</th>
                            <th style="width: 16,66%">Quantity</th>
                            <th style="width: 16,66%">Description</th>
                            <th style="width: 16,66%" class="text-right">{% trans 'Netprice' %}</th>
                            <th style="width: 16,66%" class="text-right">{% trans 'Tax' %}</th>
                            <th style="width: 16,66%" class="text-right">{% trans 'Grosprice' %}</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for line in basket.all_lines %}

{% include 'oscar/checkout/productline.html' %}
                        {% endfor %}
                        </tbody>
                    </table>


                </div>


                {% include 'oscar/basket/partials/basket_totals.html' %}

            </div>
        </div>
    </div>
</div>


{% endblock order_contents %}


{% block payment_details %}
{% endblock payment_details %}


{% block place_order %}
{% endblock place_order %}

</div>
{% endblock content %}


