{% load i18n %}
{% load currency_filters %}
{# You will almost certainly want to override this block to provide a payment summary #}
                        {% comment %}{% block payment_method %}{% endcomment %}
                       <div class="row">
                           <div class="col-7">
                        {% trans 'Payment Method' %}:
                               <p>
                        {% if payment_method.code == 'paypal' %}
                        {% blocktrans with amount=order_total.incl_tax|currency %}{{ amount}} will be debited from your paypal account.{% endblocktrans %}
                        {% endif %}
                        {% if payment_method.code == 'cod' %}
                        {% blocktrans with amount=order_total.incl_tax|currency %}{{ amount }} payment on delivery.{% endblocktrans %}
                                   {% endif %} </p>
</div>
 {% if 'preview' in request.path %}
                           <div class="text-right col-5">
                        <a href="{% url 'checkout:payment-method' %}" class="float-right">
                            {% trans "Change payment method" %}
                        </a>
{% endif %}
                               </div>
                           </div>
                        {% comment %}{% endblock payment_method %}{% endcomment %}