{% load i18n %}
{% block shipping_method %}
                        {% if shipping_method %}
<div class="row">
<div class="col-7">
                        {% trans 'Shipping method' %}:





                        <p>{{ shipping_method.name }}
                            {% if shipping_method.description %}
                            - {{ shipping_method.description|safe }}
                            {% endif %}
                        </p>


                        {% endif %}
</div>
    {% if 'preview' in request.path %}
                           <div class="text-right col-5">
<a href="{% url 'checkout:shipping-method' %}" class="float-right">
                            {% trans "Change Shipping Method" %}
                        </a>
    </div>
    </div>
{% endif %}
                        {% endblock shipping_method %}