{% extends "website/base_col_1.html" %}
{% load currency_filters %}
{% load i18n %}
{% load image_tags %}
{% load static %}

{% block title %}
{% blocktrans with number=order.number %}
Order {{ number }}: confirmation
{% endblocktrans %} | {{ block.super }}
{% endblock title %}

{% comment %}
{% block checkout_nav %}
{% include 'oscar/checkout/nav.html' with step=5 %}
{% endblock %}
{% endcomment %}


{% block header %}
<div class="page-header header-filter header-small" data-parallax="true"
     style="background-image: url('{% static 'material-kit-pro-html-v2.2.0/assets/img/examples/clark-street-merc.jpg'%}');">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <div class="brand">
                    <h1 class="title"></h1>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <div class="card card-invoice">
                <div class="card-header text-center">
                    <div class="row justify-content-between">
                        <div class="col-md-4 text-left">
                            {% include 'website/logo.html' %}
                            <h6>
                                {{globalsettings.client_street}}
                            </h6>
                            <h6>
                                {{globalsettings.client_zip}}

                                {{globalsettings.client_city}}

                            </h6>
                            <h6>{% trans 'Phone' %}: {{globalsettings.phone}}</h6>
                            <h6>E-Mail: {{globalsettings.email}}</h6>
                        </div>
                        <div class="col-lg-3 col-md-5 text-left mt-3">
                            <h4 class="mb-1">{% trans 'Billed to' %}:</h4>
                            <span class="d-block">{{ order.shipping_address.first_name}} {{ order.shipping_address.last_name}}</span>
                            <p> {{ order.shipping_address.line1}},<br>
                                {{ order.shipping_address.postcode}} {{ order.shipping_address.line4}}<br>
                                {{ order.shipping_address.country}}
                            </p>
                        </div>
                    </div>
                    <br>
                    <div class="row justify-content-md-between">
                        <div class="col-md-4">
                            <h3 class="mt-3 text-left">{% trans 'Invoice no' %} <br><small class="mr-2">#{{ order.number }}</small></h3>
                        </div>
                        <div class="col-lg-4 col-md-5">
                            <div class="row mt-5">
                                <div class="col-md-6">{% trans 'Invoice date' %}:</div>
                                <div class="col-md-6 text-right">{{ order.date_placed |date:"d.m.Y" }}</div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <table class="table text-right">
                                    <thead class="bg-default">
                                    <tr>
                                        <th style="width: {% if not globalsettings.kleingewerbe %}16,66{% else %}25{% endif %}%">
                                            Image
                                        </th>
                                        <th style="width: {% if not globalsettings.kleingewerbe %}16,66{% else %}25{% endif %}%">
                                            Quantity
                                        </th>
                                        <th style="width: {% if not globalsettings.kleingewerbe %}16,66{% else %}25{% endif %}%">
                                            Description
                                        </th>
                                        {% if not globalsettings.kleingewerbe %}
                                        <th style="width: 16,66%" class="text-right">{% trans 'Netprice' %}</th>
                                        <th style="width: 16,66%" class="text-right">{% trans 'Tax' %}</th>
                                        {% endif %}
                                        <th style="width: {% if not globalsettings.kleingewerbe %}16,66{% else %}25{% endif %}%"
                                            class="text-right">{% if not globalsettings.kleingewerbe %}{% trans  'Grosprice' %}{% else %}{% trans 'Price' %} {% endif %}
                                        </th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for line in order.lines.all %}
                                    {% include 'oscar/checkout/productline.html' %}


                                    {% endfor %}
                                    </tbody>
                                    <tfoot>

                                    <tr>
                                        <div class="mr-3">
                                            {% include 'oscar/order/partials/basket_totals.html' %}
                                        </div>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>


                </div>
                        <div class="ml-4">
                <h3>{% trans "Payment" %}</h3>
                {% for source in order.sources.all %}
                <p>
                    {% if source.reference %}
                    {% blocktrans with amount=source.amount_allocated|currency:source.currency type=source.source_type.name reference=source.reference %}
                    Allocation of {{ amount }} from type {{ type }} (reference: {{ reference }})
                    {% endblocktrans %}
                    {% else %}
                    {% blocktrans with amount=source.amount_allocated|currency:source.currency type=source.source_type.name %}
                    Allocation of {{ amount }} from type {{ type }}
                    {% endblocktrans %}
                    {% endif %}
                </p>
                {% empty %}
                <p>
                    {% trans "No payment was required for this order." %}
                </p>
                {% endfor %}

                <h3>{% trans "Shipping method" %}</h3>
                <p>{{ order.shipping_method }}</p>
                        {% if globalsettings.kleingewerbe %}
                        <strong>Gemäß § 19 UStG enthält der Rechnungsbetrag keine Umsatzsteuer.</strong>
                        <div class="col-md-5 ml-auto">
                        <h5>{% trans 'Thank you!' %}</h5>
                        <p class="description">{% trans 'If you encounter any issues related to the invoice you can contact us at' %}:</p>
                        <h6 class="d-block">
                            <a href="mailto:{{globalsettings.email}}">E-Mail schreiben</a>


                        </h6>
                    </div>
      </div>
{% endif %}

                <div class="card-footer text-right">
<div class="row">
    <div class="col-6 text-left">
        <span>Bankverbindung:</span><br>
        {% if globalsettings.bank %}<span>Bank: {{globalsettings.bank}}</span><br>{% endif %}
        {% if globalsettings.bic_swift %}<span>BIC/Swift: {{globalsettings.bic_swift}}</span><br>{% endif %}
        {% if globalsettings.iban %}<span>IBAN: {{globalsettings.iban}}</span><br>{% endif %}
         </div>
    <div class="col-6 text-left">
        {% if globalsettings.steuernr %}Steuernummer: {{globalsettings.steuernr}}{% endif %}
         </div>
    </div>
                </div>
            </div>
        </div>

    </div>
</div>



{% block order_tracking %}
{% if not order.user %}
<div class="sub-header">
    <h2>{% trans "Tracking your order" %}</h2>
</div>
<p>{% trans "You can track the status of your order" %}
    <a class="btn btn-primary"
       href="{% url 'customer:anon-order' order_number=order.number hash=order.verification_hash %}">{% trans "View
        order status" %}</a>.</p>
{% endif %}
{% endblock %}


{% block order_actions %}
<div class="form-group">
    <div class="row">
        <div class="col-sm-4">
            <p><a onclick="window.print()" href="#" class="btn btn-primary btn-block btn-lg">{% trans "Print this page" %}</a></p>
        </div>
        <div class="col-sm-4 offset-sm-4">
            <p><a href="{{ homepage_url }}" class="btn btn-primary btn-block btn-lg">{% trans "Continue shopping" %}</a>
            </p>
        </div>
    </div>
</div>
{% endblock order_actions %}
{% endblock content %}

{% block tracking %}
{% if send_analytics_event %}
{% include "oscar/partials/google_analytics_transaction.html" %}
{% endif %}
{% endblock %}
