<div class="form-group pl-3">
                        <label style="color:white;">Anzahl</label>
                        <select class="custom-select" id="selectpaginationsize" style="max-width: 60px;">
                            <option value="25">25</option>

                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="250">250</option>
                        </select>
                    </div>