{% extends 'oscar/base.html' %}
{% block title %}{{model}}{% endblock %}
{% load static %}
{% load i18n %}
{% load tags %}
{% block extracss %}

{% block extrastyles %}
<link href="{% static '/cropper/cropper.min.css' %}" rel="stylesheet" />
{% endblock %}


{% endblock %}
{% block header %}
  <div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('{% static 'material-kit-pro-html-v2.2.0/assets/img/examples/clark-street-merc.jpg'%}');">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <div class="brand">
            <h1 class="title">Einstellungen</h1>

          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}

{% block layout %}

<div class="card">
     <!-- Card header -->


<div class = "tab-content">

    </div>

        <div class="card-body">
            <div class="nav-wrapper">
        <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="custom-tabs-four-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link mb-sm-3 mb-md-0  active" id="basisdatatab" data-toggle="pill" href="#basisdata" role="tab"
                   aria-controls="custom-tabs-four-home" aria-selected="true">Basidaten</a>
            </li>

          <li class="nav-item">
                <a class="nav-link mb-sm-3 mb-md-0 " id="Logotab" data-toggle="pill" href="#logo" role="tab"
                   aria-controls="custom-tabs-four-home" aria-selected="true">
                    {% if 'edit/user' in request.path %}
    {% trans 'Userimage' %}
    {% endif %}
    {% if 'edit/globalsettings/' in request.path %}
    {% trans 'Logo' %}
    {% endif %}

                </a>
            </li>


        </ul>
    </div>

            <div class="tab-content" id="custom-tabs-four-tabContent">

                    <div class="tab-pane fade show active" id="basisdata" role="tabpanel" aria-labelledby="custom-tabs-four-home-tab">
                         <form class="form-horizontal" method="post">

                        <div class="col-md-12">

                            <div class="card card-primary">


                                <div class="card-header">
                                    <h3 class="card-title">Basisdaten</h3>
                                </div>
                                <!-- /.card-header -->


                                <div class="card-body">

                                    {% for key,value in forms.items %}
                                    {{ forms|getform:key }}
                                    {% endfor %}

                                    {% csrf_token %}
                                    {% if forms %}
                                    {% for field in forms.visible_fields %}
                                    {% if field.name != 'right_to_view_form' and field.name != 'right_to_change_form'  and field.name != 'right_to_delete_form' and field.name != 'owner' %}
                                    <div class="form-group">
                                        {{ field.label_tag }}
                                        {{ field }}
                                        {% if field.help_text %}
                                        <small class="form-text text-muted">{{ field.help_text }}</small>
                                        {% endif %}
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                    {% else %}

                                    {% for field in form.visible_fields %}
                                    {% if field.name != 'right_to_view_form' and field.name != 'right_to_change_form'  and field.name != 'right_to_delete_form' and field.name != 'owner' %}
                                    <div class="form-group">
                                        {{ field.label_tag }}
                                        {{ field }}
                                        {% if field.help_text %}
                                        <small class="form-text text-muted">{{ field.help_text }}</small>
                                        {% endif %}
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                    {% endif %}

                                </div>
                                <!-- /.card-body -->

                            </div>
                            <!-- /.card-footer -->

                        </div>
                              <div class="card-footer">
                    <button type="submit" class="btn btn-info">Sichern</button>
                    {% block extrabuttons %}
                    {% endblock %}

                    <a href="{" class="btn btn-secondary float-right">{% trans "Cancel" %}</a>
                </div>
                         </form>
                    </div>



              <div class="tab-pane fade" id="logo" role="tabpanel"
                     aria-labelledby="custom-tabs-four-profile-tab">
                    <div class="card card-primary">

                        {% include 'photo/basisphotoform.html' %}
                    </div>
                </div>





        </div>
        </div>
        <!-- /.card -->

</div>


{% endblock %}

{% block extrascripts %}
{% comment %}
<script type="text/javascript">
	$('.richtext').summernote();

</script>
{% endcomment %}








<script src="{% static 'cropper/cropper.js' %}"></script><!-- Cropper.js is required -->
<script src="{% static 'cropper/jquery-cropper.min.js' %}"></script>
<script>







    /* SCRIPT TO OPEN THE MODAL WITH THE PREVIEW */
$("#id_file").change(function () {

  if (this.files && this.files[0]) {
    var reader = new FileReader();
    reader.onload = function (e) {
      $("#image").attr("src", e.target.result);
      $("#modalCrop").modal("show");
    }
    reader.readAsDataURL(this.files[0]);
  }
});

/* SCRIPTS TO HANDLE THE CROPPER BOX */
var $image = $("#image");
var cropBoxData;
var canvasData;

$("#modalCrop").on("show.bs.modal", function () {

  $image.cropper({
    viewMode: 1,
    {% if 'edit/user' in request.path %}
    aspectRatio: 1/1,
    {% endif %}
    {% if 'edit/globalsettings/' in request.path %}
    aspectRatio: 2.5,
    {% endif %}
    minCropBoxWidth: 200,
    minCropBoxHeight: 200,
    ready: function () {
      $image.cropper("setCanvasData", canvasData);
      $image.cropper("setCropBoxData", cropBoxData);
    }
  });
}).on("hidden.bs.modal", function () {
  cropBoxData = $image.cropper("getCropBoxData");
  canvasData = $image.cropper("getCanvasData");
  $image.cropper("destroy");
});


// Enable zoom in button
$(".js-zoom-in").click(function () {
  $image.cropper("zoom", 0.1);
});

// Enable zoom out button
$(".js-zoom-out").click(function () {
  $image.cropper("zoom", -0.1);
});

/* SCRIPT TO COLLECT THE DATA AND POST TO THE SERVER */
$(".js-crop-and-upload").click(function () {
  var cropData = $image.cropper("getData");
  $("#id_x").val(cropData["x"]);
  $("#id_y").val(cropData["y"]);
  $("#id_height").val(cropData["height"]);
  $("#id_width").val(cropData["width"]);
  $("#formUpload").submit();
});

</script>


{% endblock %}

