{% load i18n %}

<input type="range" id="{{widget.name}}_range" name="{{widget.name}}_range" {% if widget.attrs.step %} step="{{widget.attrs.step}}"{% endif %} {% if widget.attrs.valuemin %}min="{{widget.attrs.valuemin}}"{% endif %}  {% if widget.attrs.valuemax %}max="{{widget.attrs.valuemax}}"{% endif %} {% if widget.attrs.value %}value="{{widget.attrs.value}}" {% endif %}
       oninput="{{widget.name}}.value={{widget.name}}_range.value">

<output id="{{widget.name}}" name="{{widget.name}}" for="rangeInput">{{widget.attrs.value}}</output>