{% load i18n %}
{% load image_tags %}

<div id="productCarousel" class="carousel slide" data-ride="carousel" data-interval="8000">
    {% with all_images=product.get_all_images %}

    {# use length rather then count as the images get queried anyways #}

    {% if all_images|length >= 1 %}

    <ol class="carousel-indicators mt-5">
        <li data-target="#productCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#productCarousel" data-slide-to="1"></li>
        <li data-target="#productCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        {% for image in all_images %}

        <div class="carousel-item {% if forloop.first %}active{% endif %}">
            {% oscar_thumbnail image.original "440x440" upscale=False as thumb %}
            <img src="{{ thumb.url }}" alt="{{ product.get_title }}"/>

        </div>
        {% endfor %}

    </div>
    <a class="carousel-control-prev" href="#productCarousel" role="button" data-slide="prev">
        <button type="button" class="btn btn-warning btn-icon btn-round btn-sm" name="button">
            <i class="ni ni-bold-left"></i>
        </button>
    </a>
    <a class="carousel-control-next" href="#productCarousel" role="button" data-slide="next">
        <button type="button" class="btn btn-warning btn-icon btn-round btn-sm" name="button">
            <i class="ni ni-bold-right"></i>
        </button>
    </a>
    {% endif %}
    {% endwith %}
</div>

