{% extends 'website/base_col_1.html' %}
{% load static %}
{% load tags %}
{% load history_tags %}
{% load currency_filters %}
{% load reviews_tags %}
{% load product_tags %}
{% load display_tags %}
{% load i18n %}
{% load purchase_info_tags %}

{% block styles %}
<style type="text/css">
body{
    background-color:#f1f1f1;
}
body h3{
    margin: 0px;
}
.main-section{
    background-color:#fff;
    padding:30px 15px;
}
.rating-part-left h1{
    font-size:75px;
    margin:0px;
    color: #528ec1;
}
.rating-part-left i{
    font-size:22px;
    padding:2px;
    color:#FDC91B;
}
.rating-part-left p{
    font-size:18px;
    color:#504F55;
}
.progress{
    background: #f1f1f1;
    box-shadow: none;
    border-radius: 0px;
    margin:7px 0px;
}
.progress .progress-bar{
    background: #528ec1;
}
.rating-part-right i,.product-rating-panel-right i{
    font-size: 20px;
    padding:4px 0px;
    color:#FDC91B;
}
.rating-part-right span{
    color:#528ec1;
    font-size:17px;
    padding-left: 5px;
}
.review-section{
    padding: 0px 15px;
}
.product-rating-panel-left img{
    height:75px;
    width:75px;
    border-radius: 50%;
    border:2px solid #528ec1;
}
.product-rating-panel-left p{
    margin:0px;
    font-size:17px;
    color:#B3B5B4;
}
.product-rating-panel-left span{
    font-size:19px;
}
.product-rating-panel-left small{
    color:#B3B5B4;
}
.product-rating-panel-right p{
    font-size: 18px;
    color:#919191;
}



</style>

{% endblock %}

{% block content %}

<div class="container">

        <div class="card">
            <div class="card-body">
                <div class="row">
        <div class="col-lg-6 col-md-12 ">
            {% block product_gallery %}
            <div class="col-sm-6">
                {% include "oscar/catalogue/partials/gallery.html" %}
            </div>
            {% endblock %}

        </div>
        <div class="col-lg-6 col-md-12 mx-auto">
            <h2 class="title">{{ product.get_title }}</h2>
            <div class="stats">
                {% iffeature "reviews" %}
                {% include "oscar/catalogue/reviews/partials/review_stars.html" %}
                {% endiffeature %}

            </div>
            <br/>
            {% purchase_info_for_product request product as session %}
            {% purchase_info_for_product request product as session %}
            {% if session.price.exists %}

            {% if session.price.is_tax_known %}
            <h2 class="main-price">{{ session.price.incl_tax|currency:session.price.currency }}</h2>


            {% endif %}
            {% endif %}


            <h6 class="category">{% trans 'Description' %}</h6>
            <p class="description">{{ product.description|safe }}</p>
            <br>

            <br>
            {% if not product.is_parent %}
            {% block product_basket_form %}
            {% include "oscar/catalogue/partials/add_to_basket_form.html" %}
            {% endblock %}
            {% else %}
            {% block variants %}
            <h2>{% trans 'Variants:' %}</h2>
            {% for child in product.children.public %}
            {% purchase_info_for_product request child as child_session %}
            {% if child_session.availability.is_available_to_buy %}
            <a href="{{ child.get_absolute_url }}">{{ child.get_title }}</a><br>
            {% endif %}
            {% endfor %}
            {% endblock %}
            {% endif %}
            </div>
 </div>
        </div>
    </div>

    {% block product_review %}
    {% endblock %}



    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 main-section">
                <div class="col-md-12">
                    <h3>{% trans 'Customer Reviews' %}</h3>
                    <hr>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12 rating-part-left text-center">
                        <h1>{{product.rating}}</h1>
                        {% include 'oscar/catalogue/reviews/partials/review_stars.html' %}


                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                    {% for rating in reviews_procent %}

                        <div class="progress mt-3">
                            <div class="progress-bar" role="progressbar" aria-valuenow="{{rating}}" aria-valuemin="0"
                                 aria-valuemax="100" style="width:{{rating}}%"></div>
                        </div>
                        {% endfor %}
                         </div>

                    <div class="col-md-3 col-sm-3 col-xs-12 rating-part-right">
                        <div class="row">

                            {% for rating in reviews_rating %}

                            <div class="col-md-12">
                            {% for star in rating.score|times %}
                                <i class="fas fa-star" aria-hidden="true"></i>
                            {% endfor %}
                                {% for star in 5|desctimes:rating.score %}

                                <i class="far fa-star" aria-hidden="true"></i>



                            {% endfor %}
                                <span>{{rating.total}}</span>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>


                <div class="row review-section">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <hr>
                        <h3>{% trans 'Latest Reviews' %}</h3>
                        <hr>
                    </div>






                    {% if reviews %}

            {% for review in reviews %}
                {% include 'oscar/catalogue/partials/review.html' %}
            {% endfor %}
            {% include 'oscar/partials/pagination.html' %}

        {% else %}
            <p>{% trans "This product does not have any reviews yet." %}</p>
        {% endif %}








            </div>
        </div>


        {% comment %}
        {% iffeature "reviews" %}
        {% block product_review %}
        <section>
            <div id="reviews" class="sub-header">
                {% if product.num_approved_reviews > 3 %}
                <a href="{% url 'catalogue:reviews-list' product_slug=product.slug product_pk=product.id %}"
                   class="btn float-right">{% trans "See all reviews" %}</a>
                {% endif %}
                <h2>{% trans "Customer Reviews" %}</h2>
            </div>

            {% if product.num_approved_reviews == 0 %}
            <p>
                {% if product|is_review_permitted:user %}
                {% url 'catalogue:reviews-add' product_slug=product.slug product_pk=product.id as add_review_url %}
                {% blocktrans %}This product does not have any reviews yet -
                <a href="{{ add_review_url }}#addreview">be the first to write one</a>.
                {% endblocktrans %}
                {% else %}
                {% trans "This product does not have any reviews yet" %}.
                {% endif %}
            </p>
            {% else %}
            <ol class="list-unstyled review-list">
                {% for review in product.reviews.approved.all|slice:":3" %}
                <li>
                    {% include 'oscar/catalogue/partials/review.html' %}
                </li>
                {% endfor %}
            </ol>
            {% endif %}
        </section>
        {% endblock product_review %}
        {% endiffeature %}
        {% endcomment %}

        {% with recommended_products=product.sorted_recommended_products|slice:":6" %}
        {% if recommended_products %}
        <div class="sub-header">
            <h2>{% trans "Recommended items" %}</h2>
        </div>
        <ul class="row list-unstyled mx-0">
            {% for product in recommended_products %}
            <li class="col-sm-4 col-md-3 col-lg-3">
                {% render_product product %}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {% recently_viewed_products current_product=product %}


    </div>
    {% endblock %}
    {% block scripts %}
    <script>
    // Testimonial Carousel
    new Glide('.glide', {
      type: 'carousel',
      startAt: 0,
      focusAt: 2,
      perTouch: 1,
      perView: 4,
      responsive: [{
          breakpoint: 1024,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 1,
            infinite: true,
          }
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 1
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
        // You can unslick at a given breakpoint now by adding:
        // settings: "unslick"
        // instead of a settings object
      ]
    }).mount();


    </script>
    {% endblock %}