{% extends 'pages/standardpage.html' %}
{% load static %}
{% load i18n %}
{% block headerimage %}{% static '/argon/img/pages/mohamed.jpg' %}{% endblock %}
{% block headertitle %}{% trans 'Corporate Social Responsibility' %}{% endblock %}


{% block cardbody %}

<h2><span
        style="font-family: arial, helvetica, sans-serif;">Moralische Verantwortung</span>
</h2>
<h6><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Jeder Mitarbeiter sollte das Recht haben in Würde zu leben. Dazu gehört auch eine würdevolle Bezahlung. Damit Reiche reich sein können müssen Sie die untersten in irgendeiner Weise bestehlen. Wir haben uns entschlossen jedem Mitarbeiter das gleiche Gehalt zu bezahlen. Warum wir dieses als absolut fair finden dazu hier <a
        href="/index.php/neu/gleiche-bezahlun">Gleiche Bezahlung</a></span></h6>
<h6><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Jeder Mitarbeiter hat am Geschäftserfolg genau den gleichen Anteil wie der Geschäftsleiter sogar teilweise einen höheren. Warum wir bereit sind unsere Mitarbeiter hochprozentig am Gewinn zu beteiligen finden sie hier <a
        href="/index.php/neu/gleiche-bezahlun">Gleiche Bezahlung</a></span></h6></div>


{% endblock %}

