{% extends 'pages/standardpage.html' %}
{% load static %}
{% load i18n %}
{% block headerimage %}{% static '/argon/img/pages/mohamed.jpg' %}{% endblock %}
{% block headertitle %}{% trans 'Datamigration' %}{% endblock %}

{% block cardbody %}

<p><span style="font-family: arial, helvetica, sans-serif;"></span></p>
<h6><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Wir sind Experten im Bereich Datenmigration und Datenbankkonvertierung. Wir kümmern uns um alle Probleme um den Bereich Datenmigration. Wir analysieren gemeinsam mit ihnen die Ausgangssituation und besprechen welche Felder wohin importiert werden. Falls es noch kein bestehendes Skript gibt, werden wir ein entsprechendes Programm neu entwickeln. Wir bieten ihnen an, im Vorfeld einen Testimport zu machen, damit Sie sicher sein können, dass ihre Daten auch vollständig übertragen werden. Danach können Sie den Testimport in aller Ruhe prüfen. Sobald Sie zufrieden sind, stimmen wir einen gemeinsamen Termin ab. Damit gewährleisten wir einen reibungslosen Übergang zwischen ihrer alten und ihrer neuen Software.</span></h6>
<p><span style="font-family: arial, helvetica, sans-serif;"behavior_rules/></span></p>
<h2><span style="font-family: arial, helvetica, sans-serif;">Unterstützte Quellformate:</span></h2>
<h6><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">&nbsp;CSV, XML, Webseiten, SQL</span></h6>
<h2><span style="font-family: arial, helvetica, sans-serif;">Unterstützte Zielformate:</span></h2>
<h6><span style="font-size: 12pt;">CSV, SQL</span></h6>
<p><span style="font-family: arial, helvetica, sans-serif;"></span></p>
<h2><span style="font-family: arial, helvetica, sans-serif;">Größere Referenzprojekte:</span></h2>
<table>
<tbody>
<tr>
<td>
<h6><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Quelle</span></h6>
</td>behavior_rules/behavior_rules/
<td>
<h6><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Ziel</span></h6>
</td>
</tr>
<tr>
<td>
<h6><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Maklersoftware: Flowfact&nbsp;(Immobiliensoftware)</span></h6>
</td>
<td>
<h6><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">onOffice (Immobiliensoftware)</span></h6>
</td>
</tr>behavior_rules/
<tr>
<td>
<h6><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">SQL Maklersoftware: EstateOffice&nbsp;(Immobiliensoftware)</span></h6>
</td>
<td>
<h6><span style="font-family: arial, helvetica, sans-serif;behavior_rules/ font-size: 12pt;">onOffice (Immobiliensoftware)</span></h6>
</td>
</tr>
<tr>
<td>
<h6><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Webseitenimport: immonet.de (Immobilienwebseite)</span></h6>
</td>
<td>
<h6><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Flowfact SQL Datenbank (Immobiliensoftware)</span></h6>
</td>
</tr>
<tr>
<td>
<h6><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">EcoDMS (Dokumentenmanagmentsystem)</span></h6>
</td>
<td>
<h6><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Mosaik (Handwerkersoftware)</span></h6>
</td>
</tr>
<tr>
<td>
<h6><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">&nbsp;XML von Webseite</span></h6>
</td>
<td>
<h6><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">&nbsp;Mosaik (Handwerkersoftware)</span></h6>
</td>
</tr>
</tbody>
</table>
<p><span style="font-family: arial, helvetica, sans-serif;"></span></p>
<p><span style="font-family: arial, helvetica, sans-serif;"></span></p>
<h2><span style="font-family: arial, helvetica, sans-serif;">Ihre Vorteile:</span></h2>
<div class="product-description"><br>
<table class="complete-following">
<tbody>
<tr>
<td><span style="font-family: arial, helvetica, sans-serif;"></span></td>
<td>
<h6><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Schnelle Datenmigration - teilweise innerhalb eines Tages</span></h6>
</td>
<td><span style="font-size: 48px; color: green; font-family: arial, helvetica, sans-serif;">&nbsp;<i class="fa far fa-check-circle" aria-hidden="true"></i></span></td>
</tr>
<tr>
<td><span style="font-family: arial, helvetica, sans-serif;"></span></td>
<td>
<h6><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Sehr preiswert</span></h6>
</td>
<td><span style="font-size: 48px; color: green; font-family: arial, helvetica, sans-serif;">&nbsp;<i class="fa far fa-check-circle" aria-hidden="true"></i></span></td>
</tr>
<tr>
<td><span style="font-family: arial, helvetica, sans-serif;"></span></td>
<td>
<h6><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Datenimport Nachts und auch am Wochende</span></h6>
</td>
<td><span style="font-size: 48px; color: green; font-family: arial, helvetica, sans-serif;">&nbsp;<i class="fa far fa-check-circle" aria-hidden="true"></i></span></td>
</tr>
<tr>
<td><span style="font-family: arial, helvetica, sans-serif;"></span></td>
<td>
<h6><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Es wird alles importiert</span></h6>
</td>
<td><span style="font-size: 48px; color: green; font-family: arial, helvetica, sans-serif;">&nbsp;<i class="fa far fa-check-circle" aria-hidden="true"></i></span></td>
</tr>
<tr>
<td><span style="font-family: arial, helvetica, sans-serif;"></span></td>
<td>
<h6><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Auf Nachfrage Datenkontrolle</span></h6>
</td>
<td><span style="font-size: 48px; color: green; font-family: arial, helvetica, sans-serif;">&nbsp;<i class="fa far fa-check-circle" aria-hidden="true"></i></span></td>
</tr>
<tr>
<td><span style="font-family: arial, helvetica, sans-serif;"></span></td>
<td>
<h6><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Optionaler Testimport</span></h6>
</td>
<td><span style="font-size: 48px; color: green; font-family: arial, helvetica, sans-serif;">&nbsp;<i class="fa far fa-check-circle" aria-hidden="true"></i></span></td>
</tr>
<tr>
<td><span style="font-family: arial, helvetica, sans-serif;"></span></td>
<td>
<h6><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Absolut zuverlässig</span></h6>
</td>
<td><span style="font-size: 48px; color: green; font-family: arial, helvetica, sans-serif;">&nbsp;<i class="fa far fa-check-circle" aria-hidden="true"></i></span></td>
</tr>
<tr>
<td><span style="font-family: arial, helvetica, sans-serif;"></span></td>
<td>
<h6><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;"></span></h6>
</td>
<td><span style="font-family: arial, helvetica, sans-serif;"></span></td>
</tr>
</tbody>
</table>
<p><span style="font-family: arial, helvetica, sans-serif;"></span></p>
{% endblock %}