{% extends 'pages/standardpage.html' %}

{% block cardheader %}
GobD
{% endblock %}

{% block cardbody %}


        <p style="text-align: justify;">Bereits seit dem 01.01.2015 gelten die vom Bundesfinanzministerium festgelegten
            GOBD1. Und obwohl es die Verordnung nun schon so lange gibt, haben sich noch immer nicht alle Unternehmen
            eingehend mit dem Thema beschäftigt. Doch Nichtwissen schützt nicht vor bösen Überraschungen – etwa im Falle
            einer Betriebsprüfung.</p>
        <p>&nbsp;</p>
        <p><strong>Wir geben Ihnen ein paar praktische Tipps zur Umsetzung der GOBD</strong></p>
        <ul class="dt-sc-fancy-list  darkblue  hand">
            <li style="text-align: justify;"><strong>Elektronisch archivieren:</strong> Die GoBD liefern ein Argument
                für die digitale Archivierung steuerlich relevanter Unterlagen, weil sie digitale Unterlagen den
                herkömmlichen Papierdokumenten formal gleichstellen. Zwar müssen alle steuerlich relevanten Dokumente im
                Original aufbewahrt werden, doch gescannte
                Papierdokumente können das Original ersetzen.
            </li>
            <li><strong>GOBD-zertizierte Lösung einsetzen</strong>:&nbsp; Die Finanzverwaltung schreibt keine bestimmte
                Software vor, doch sie definiert Grundsätze für ein elektronisches
                Archiv. Dazu gehören Unveränderlichkeit, Vollständigkeit, Nachvollziehbarkeit und Verfügbarkeit der
                archivierten Daten und Dokumente. Da die
                Archivierungspflicht nicht nur für die Buchhaltung gilt, sondern auch für Anwendungen wie zum Beispiel
                die Warenwirtschaft, das Lohnsystem oder den
                E-Mail-Client, sollten Unternehmen darauf achten, dass ihr Archiv nicht nur GoBD-zertifiziert, sondern
                auch auf die Zusammenarbeit mit ihren Software-
                Lösungen abgestimmt ist.
            </li>
            <li>K<strong>ontrolle behalten</strong>:&nbsp; Strebt man ein papierloses, digitales Büro nach GoBD an und
                wird eine Verfahrensdokumentation erstellt, so schreiben die GoBD vor, ein internes Kontrollsystem
                einzurichten, anzuwenden und zu dokumentieren. Dazu gehören Zugangs- und
                Zugriffsberechtigungskontrollen ebenso wie Erfassungs- und Plausibilitätsprüfungen. Darüber hinaus sind
                Schutzmaßnahmen gegen die beabsichtigte und unbeabsichtigte Verfälschung von Programmen, Daten und
                Dokumenten zu treffen.
            </li>
            <li><strong>Papierberge verringern:&nbsp;</strong> Die GoBD erlauben erstmals explizit, Papierdokumente
                einzuscannen und anschließend zu vernichten. Allerdings ist der Prozess der Papiervernichtung ebenso zu
                dokumentieren wie alle anderen Verfahren im Zusammenhang mit der Buchführung. Dazu müssen Unternehmen
                eine so genannte Verfahrensdokumentation erstellen, damit Betriebsprüfer die Abläufe schnell verstehen
                und nachvollziehen können.
            </li>
        </ul>
        <p><strong>Die Umsetzung der GoBD bedeutet vielleicht auf den ersten Blick zusätzlichen Aufwand. Der Einsatz
            einer modernen, innovativen Archivierungssoftware bietet </strong><strong>Unternehmen jedoch viele
            Vorteile:</strong></p>
        <p>&nbsp;</p>
        <ul class="dt-sc-fancy-list  darkblue  hand">
            <li>Reduziert den Verwaltungsaufwand</li>
            <li>Verteilt Aufgaben</li>
            <li>Überwacht den Beleg fluss</li>
            <li>Automatisiert Prozesse</li>
            <li>Optimiert Reaktionszeiten</li>
            <li>Ermöglicht schnellen Zugriff auf Informationen</li>
            <li>Organisiert die Rechnungen</li>
            <li>Vermeidet Übertragungsfehler</li>
            <li>Erfüllt alle rechtlichen Anforderungen der GoBD</li>
        </ul>
        <p>Wussten Sie, dass die Umsetzung und Einhaltung der GoBD im Rahmen einer Steuerprüfung mitgeprüft werden
            können? Steuerprüfungen finden in der Regel alle 10 Jahre statt – wann war Ihre letzte Prüfung?</p>
        <p style="text-align: justify;">Nehmen Sie das Thema Dokumenten-Archivierung und mögliche Folgen ernst. Mit dem
            Einsatz von komfortablen und benutzerfreundlichen Softwarelösungen erfüllen Sie alle rechtlichen
            Anforderungen und Auflagen der GoBD. Darüber hinaus steigern solche Systeme die Effizienz Ihres
            Unternehmens nachhaltig und senken die Kosten. Transparenz und Nachvollziehbarkeit bringen Ihnen dabei klare
            Wettbewerbsvorteile.</p>
        <p><strong>Sprechen Sie uns an. Gemeinsam finden wir die für Ihr Unternehmen ideale
            Archivierungs-Lösung.</strong></p>



        {% endblock %}
