{% extends 'pages/standardpage.html' %}
{% load static %}
{% load i18n %}
{% block headerimage %}{% static '/argon/img/pages/mohamed.jpg' %}{% endblock %}
{% block headertitle %}{% trans 'Privacy Statement' %}{% endblock %}


{% block cardbody %}



    <h2 class="adsimple-311248012" data-fontsize="24" data-lineheight="36"><span
            style="font-family: arial, helvetica, sans-serif;">Datenschutz</span></h2>
    <p><span style="font-family: arial, helvetica, sans-serif;">Wir haben diese Datenschutzerklärung (Fassung 06.01.2021-311248012) verfasst, um Ihnen gemäß der Vorgaben der <a
            href="https://eur-lex.europa.eu/legal-content/DE/ALL/?uri=celex%3A32016R0679&amp;tid=311248012"
            target="_blank" rel="noopener noreferrer" class="adsimple-311248012">Datenschutz-Grundverordnung (EU) 2016/679</a> zu erklären, welche Informationen wir sammeln, wie wir Daten verwenden und welche Entscheidungsmöglichkeiten Sie als Besucher dieser Webseite haben.</span>
    </p>
    <p><span style="font-family: arial, helvetica, sans-serif;">Leider liegt es in der Natur der Sache, dass diese Erklärungen sehr technisch klingen, wir haben uns bei der Erstellung jedoch bemüht die wichtigsten Dinge so einfach und klar wie möglich zu beschreiben.</span>
    </p>
    <h2 class="adsimple-311248012" data-fontsize="24" data-lineheight="36"><span
            style="font-family: arial, helvetica, sans-serif;">Automatische Datenspeicherung</span></h2>
    <h6><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Wenn Sie heutzutage Webseiten besuchen, werden gewisse Informationen automatisch erstellt und gespeichert, so auch auf dieser Webseite.</span>
    </h6>
    <h6><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Wenn Sie unsere Webseite so wie jetzt gerade besuchen, speichert unser Webserver (Computer auf dem diese Webseite gespeichert ist) automatisch Daten wie</span>
    </h6>
    <ul class="adsimple-311248012">
        <li class="adsimple-311248012">
            <h6><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">die Adresse (URL) der aufgerufenen Webseite</span>
            </h6>
        </li>
        <li class="adsimple-311248012">
            <h6><span
                    style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Browser und Browserversion</span>
            </h6>
        </li>
        <li class="adsimple-311248012">
            <h6><span
                    style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">das verwendete Betriebssystem</span>
            </h6>
        </li>
        <li class="adsimple-311248012">
            <h6><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">die Adresse (URL) der zuvor besuchten Seite (Referrer URL)</span>
            </h6>
        </li>
        <li class="adsimple-311248012">
            <h6><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">den Hostname und die IP-Adresse des Geräts von welchem aus zugegriffen wird</span>
            </h6>
        </li>
        <li class="adsimple-311248012">
            <h6><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Datum und Uhrzeit</span></h6>
        </li>
    </ul>
    <h6><span
            style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">in Dateien (Webserver-Logfiles).</span>
    </h6>
    <h6><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">In der Regel werden Webserver-Logfiles zwei Wochen gespeichert und danach automatisch gelöscht. Wir geben diese Daten nicht weiter, können jedoch nicht ausschließen, dass diese Daten beim Vorliegen von rechtswidrigem Verhalten eingesehen werden.</span>
    </h6>
    <h2 class="adsimple-311248012" data-fontsize="24" data-lineheight="36"><span
            style="font-family: arial, helvetica, sans-serif;">Cookies</span></h2>
    <h6><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Unsere Website verwendet HTTP-Cookies um nutzerspezifische Daten zu speichern.</span><br><span
            style="font-family: arial, helvetica, sans-serif; font-size: 12pt;"> Im Folgenden erklären wir, was Cookies sind und warum Sie genutzt werden, damit Sie die folgende Datenschutzerklärung besser verstehen.</span>
    </h6>
    <h3 class="adsimple-311248012" data-fontsize="21" data-lineheight="31"><span
            style="font-family: arial, helvetica, sans-serif;">Was genau sind Cookies?</span></h3>
    <h6><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Immer wenn Sie durch das Internet surfen, verwenden Sie einen Browser. Bekannte Browser sind beispielsweise Chrome, Safari, Firefox, Internet Explorer und Microsoft Edge. Die meisten Webseiten speichern kleine Text-Dateien in Ihrem Browser. Diese Dateien nennt man Cookies.</span>
    </h6>
    <h6><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Eines ist nicht von der Hand zu weisen: Cookies sind echt nützliche Helferlein. Fast alle Webseiten verwenden&nbsp;Cookies. Genauer gesprochen sind es HTTP-Cookies, da es auch noch andere&nbsp;Cookies für andere Anwendungsbereiche gibt. HTTP-Cookies&nbsp;sind kleine Dateien, die von unserer Website auf Ihrem Computer gespeichert werden. Diese Cookie-Dateien werden automatisch im Cookie-Ordner, quasi dem “Hirn” Ihres Browsers, untergebracht. Ein Cookie besteht aus einem Namen und einem Wert. Bei der Definition eines Cookies müssen zusätzlich ein oder mehrere Attribute angegeben werden.</span>
    </h6>
    <h6><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Cookies&nbsp;speichern gewisse Nutzerdaten von Ihnen, wie beispielsweise Sprache oder persönliche Seiteneinstellungen. Wenn Sie unsere Seite wieder aufrufen, übermittelt Ihr Browser die „userbezogenen“ Informationen an unsere Seite zurück. Dank der Cookies weiß unsere Website, wer Sie sind und bietet Ihnen Ihre gewohnte Standardeinstellung. In einigen Browsern hat jedes&nbsp;Cookie&nbsp;eine eigene Datei, in anderen wie beispielsweise Firefox sind alle&nbsp;Cookies&nbsp;in einer einzigen Datei gespeichert.</span>
    </h6>
    <h6><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Es gibt sowohl Erstanbieter Cookies als auch Drittanbieter-Cookies. Erstanbieter-Cookies werden direkt von unserer Seite erstellt, Drittanbieter-Cookies werden von Partner-Webseiten (z.B. Google Analytics) erstellt.&nbsp;Jedes Cookie ist individuell zu bewerten, da jedes Cookie andere Daten speichert. Auch die Ablaufzeit eines Cookies variiert von ein paar Minuten bis hin zu ein paar Jahren.&nbsp;Cookies sind keine Software-Programme und enthalten keine Viren, Trojaner oder andere „Schädlinge“. Cookies können auch nicht auf Informationen Ihres PCs zugreifen.</span>
    </h6>
    <h6><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">So können zum Beispiel Cookie-Daten aussehen:</span>
    </h6>
    <ul class="adsimple-311248012">
        <li class="adsimple-311248012">
            <h6><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Name: _ga</span></h6>
        </li>
        <li class="adsimple-311248012">
            <h6><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Ablaufzeit: 2 Jahre</span>
            </h6>
        </li>
        <li class="adsimple-311248012">
            <h6><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Verwendung: Unterscheidung der Webseitenbesucher</span>
            </h6>
        </li>
        <li class="adsimple-311248012">
            <h6><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Beispielhafter Wert:&nbsp;GA1.2.1326744211.152311248012</span>
            </h6>
        </li>
    </ul>
    <h6><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Ein Browser sollte folgende Mindestgrößen unterstützen:</span>
    </h6>
    <ul class="adsimple-311248012">
        <li class="adsimple-311248012">
            <h6><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Ein Cookie soll mindestens 4096 Bytes enthalten können</span>
            </h6>
        </li>
        <li class="adsimple-311248012">
            <h6><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Pro Domain sollen mindestens 50 Cookies gespeichert werden können</span>
            </h6>
        </li>
        <li class="adsimple-311248012">
            <h6><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Insgesamt sollen mindestens 3000 Cookies gespeichert werden können</span>
            </h6>
        </li>
    </ul>
    <h2 class="adsimple-311248012" data-fontsize="21" data-lineheight="31"><span
            style="font-family: arial, helvetica, sans-serif;">Welche Arten von Cookies gibt es?</span></h2>
    <h6><span style="font-family: arial, helvetica, sans-serif;">Die Frage welche Cookies wir im Speziellen verwenden, hängt von den verwendeten Diensten ab und wird in der folgenden Abschnitten der Datenschutzerklärung geklärt. An dieser Stelle möchten wir kurz auf die verschiedenen Arten von HTTP-Cookies eingehen.</span>
    </h6>
    <h6><span style="font-family: arial, helvetica, sans-serif;">Man kann 4 Arten von Cookies unterscheiden:</span></h6>
    <h6><span style="font-family: arial, helvetica, sans-serif;"><strong class="adsimple-311248012">Unbedingt notwendige Cookies<br> </strong>Diese Cookies sind nötig, um grundlegende Funktionen der Website sicherzustellen. Zum Beispiel braucht es diese Cookies, wenn ein User ein Produkt in den Warenkorb legt, dann auf anderen Seiten weitersurft und später erst zur Kasse geht. Durch diese Cookies wird der Warenkorb nicht gelöscht, selbst wenn der User sein Browserfenster schließt.</span>
    </h6>
    <h6><span style="font-family: arial, helvetica, sans-serif;"><strong class="adsimple-311248012">Funktionelle Cookies<br> </strong>Diese Cookies sammeln Infos über das Userverhalten und ob der User etwaige Fehlermeldungen bekommt. Zudem werden mithilfe dieser Cookies auch die Ladezeit und das Verhalten der Website bei verschiedenen Browsern gemessen.</span>
    </h6>
    <h6><span style="font-family: arial, helvetica, sans-serif;"><strong class="adsimple-311248012">Zielorientierte Cookies<br> </strong>Diese Cookies sorgen für eine bessere Nutzerfreundlichkeit. Beispielsweise werden eingegebene Standorte, Schriftgrößen oder Formulardaten gespeichert.</span>
    </h6>
    <h6><span style="font-family: arial, helvetica, sans-serif;"><strong
            class="adsimple-311248012">Werbe-Cookies<br> </strong>Diese Cookies werden auch Targeting-Cookies genannt. Sie dienen dazu dem User individuell angepasste Werbung zu liefern. Das kann sehr praktisch, aber auch sehr nervig sein.</span>
    </h6>
    <h6><span style="font-family: arial, helvetica, sans-serif;">Üblicherweise werden Sie beim erstmaligen Besuch einer Webseite gefragt, welche dieser Cookiearten Sie zulassen möchten. Und natürlich wird diese Entscheidung auch in einem Cookie gespeichert.</span>
    </h6>
    <h6 class="adsimple-311248012" data-fontsize="21" data-lineheight="31"><span
            style="font-family: arial, helvetica, sans-serif;">Wie kann ich Cookies löschen?</span></h6>
    <h6><span style="font-family: arial, helvetica, sans-serif;">Wie und ob Sie Cookies verwenden wollen, entscheiden Sie selbst. Unabhängig von welchem Service oder welcher Website die Cookies stammen, haben Sie immer die Möglichkeit&nbsp;Cookies zu löschen, nur teilweise zuzulassen oder zu deaktivieren. Zum Beispiel können Sie Cookies von Drittanbietern blockieren, aber alle anderen Cookies zulassen.</span>
    </h6>
    <h6><span style="font-family: arial, helvetica, sans-serif;">Wenn Sie feststellen möchten, welche Cookies in Ihrem Browser gespeichert wurden, wenn Sie Cookie-Einstellungen ändern oder löschen wollen, können Sie dies in Ihren Browser-Einstellungen finden:</span>
    </h6>
    <h6><span style="font-family: arial, helvetica, sans-serif;"><a
            href="https://support.google.com/chrome/answer/95647?tid=311248012" target="_blank"
            rel="noopener noreferrer" class="adsimple-311248012">Chrome: Cookies in Chrome löschen, aktivieren und verwalten</a></span>
    </h6>
    <h6><span style="font-family: arial, helvetica, sans-serif;"><a
            href="https://support.apple.com/de-at/guide/safari/sfri11471/mac?tid=311248012" target="_blank"
            rel="noopener noreferrer" class="adsimple-311248012">Safari: Verwalten von Cookies und Websitedaten mit Safari</a></span>
    </h6>
    <h6><span style="font-family: arial, helvetica, sans-serif;"><a
            href="https://support.mozilla.org/de/kb/cookies-und-website-daten-in-firefox-loschen?tid=311248012"
            target="_blank" rel="noopener noreferrer" class="adsimple-311248012">Firefox: Cookies löschen, um Daten zu entfernen, die Websites auf Ihrem Computer abgelegt haben</a></span>
    </h6>
    <h6><span style="font-family: arial, helvetica, sans-serif;"><a
            href="https://support.microsoft.com/de-at/help/17442/windows-internet-explorer-delete-manage-cookies?tid=311248012"
            target="_blank" rel="noopener noreferrer" class="adsimple-311248012">Internet Explorer: Löschen und Verwalten von Cookies</a></span>
    </h6>
    <h6><span style="font-family: arial, helvetica, sans-serif;"><a
            href="https://support.microsoft.com/de-at/help/4027947/windows-delete-cookies?tid=311248012" target="_blank"
            rel="noopener noreferrer"
            class="adsimple-311248012">Microsoft Edge: Löschen und Verwalten von Cookies</a></span></h6>
    <h6><span style="font-family: arial, helvetica, sans-serif;">Falls Sie grundsätzlich keine Cookies haben wollen, können Sie Ihren Browser so einrichten, dass er Sie immer informiert, wenn ein Cookie gesetzt werden soll. So können Sie bei jedem einzelnen Cookie entscheiden, ob Sie das Cookie erlauben oder nicht. Die Vorgangsweise ist je nach Browser verschieden. Am besten ist es Sie suchen die Anleitung in Google mit dem Suchbegriff “Cookies löschen Chrome” oder “Cookies deaktivieren Chrome” im Falle eines Chrome Browsers oder tauschen das Wort “Chrome” gegen den Namen Ihres Browsers, z.B. Edge, Firefox, Safari aus.</span>
    </h6>
    <h2 class="adsimple-311248012" data-fontsize="21" data-lineheight="31"><span
            style="font-family: arial, helvetica, sans-serif;">Wie sieht es mit meinem Datenschutz aus?</span></h2>
    <h6><span style="font-family: arial, helvetica, sans-serif;">Seit 2009 gibt es die sogenannten „Cookie-Richtlinien“. Darin ist festgehalten, dass das Speichern von Cookies eine Einwilligung von Ihnen verlangt. Innerhalb der EU-Länder gibt es allerdings noch sehr unterschiedliche Reaktionen auf diese Richtlinien. In Deutschland wurden die Cookie-Richtlinien nicht als nationales Recht umgesetzt. Stattdessen erfolgte die Umsetzung dieser Richtlinie weitgehend in § 15 Abs.3 des Telemediengesetzes (TMG).</span>
    </h6>
    <h6><span style="font-family: arial, helvetica, sans-serif;">Wenn Sie mehr über Cookies wissen möchten und technischen Dokumentationen nicht scheuen, empfehlen wir&nbsp;<a
            href="https://tools.ietf.org/html/rfc6265" target="_blank" rel="nofollow noopener noreferrer"
            class="adsimple-311248012">https://tools.ietf.org/html/rfc6265</a>, dem Request for Comments der Internet Engineering Task Force (IETF) namens “HTTP State Management Mechanism”.</span>
    </h6>
    <h2 class="adsimple-311248012" data-fontsize="24" data-lineheight="36"><span
            style="font-family: arial, helvetica, sans-serif;">Speicherung persönlicher Daten</span></h2>
    <h6><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Persönliche Daten, die Sie uns auf dieser Website elektronisch übermitteln, wie zum Beispiel Name, E-Mail-Adresse, Adresse oder andere persönlichen Angaben im Rahmen der Übermittlung eines Formulars oder Kommentaren im Blog, werden von uns gemeinsam mit dem Zeitpunkt und der IP-Adresse nur zum jeweils angegebenen Zweck verwendet, sicher verwahrt und nicht an Dritte weitergegeben.</span>
    </h6>
    <h6><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Wir nutzen Ihre persönlichen Daten somit nur für die Kommunikation mit jenen Besuchern, die Kontakt ausdrücklich wünschen und für die Abwicklung der auf dieser Webseite angebotenen Dienstleistungen und Produkte. Wir geben Ihre persönlichen Daten ohne Zustimmung nicht weiter, können jedoch nicht ausschließen, dass diese Daten beim Vorliegen von rechtswidrigem Verhalten eingesehen werden.</span>
    </h6>
    <h6><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Wenn Sie uns persönliche Daten per E-Mail schicken – somit abseits dieser Webseite – können wir keine sichere Übertragung und den Schutz Ihrer Daten garantieren. Wir empfehlen Ihnen, vertrauliche Daten niemals unverschlüsselt per E-Mail zu übermitteln.</span>
    </h6>
    <h6><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Die Rechtsgrundlage besteht nach <a
            href="https://eur-lex.europa.eu/legal-content/DE/TXT/HTML/?uri=CELEX:32016R0679&amp;from=DE&amp;tid=311248012"
            target="_blank" rel="noopener noreferrer" class="adsimple-311248012">Artikel 6&nbsp; Absatz 1 a DSGVO</a> (Rechtmäßigkeit der Verarbeitung) darin, dass Sie uns die Einwilligung zur Verarbeitung der von Ihnen eingegebenen Daten geben. Sie können diesen Einwilligung jederzeit widerrufen – eine formlose E-Mail reicht aus, Sie finden unsere Kontaktdaten im Impressum.</span>
    </h6>
    <h6 class="adsimple-311248012" data-fontsize="24" data-lineheight="36"><span
            style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Rechte laut Datenschutzgrundverordnung</span>
    </h6>
    <h6><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Ihnen stehen laut den Bestimmungen der DSGVO grundsätzlich die folgende Rechte zu:</span>
    </h6>
    <ul class="adsimple-311248012">
        <li class="adsimple-311248012">
            <h6><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Recht auf Berichtigung (Artikel 16 DSGVO)</span>
            </h6>
        </li>
        <li class="adsimple-311248012">
            <h6><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Recht auf Löschung („Recht auf Vergessenwerden“) (Artikel 17 DSGVO)</span>
            </h6>
        </li>
        <li class="adsimple-311248012">
            <h6><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Recht auf Einschränkung der Verarbeitung (Artikel 18 DSGVO)</span>
            </h6>
        </li>
        <li class="adsimple-311248012">
            <h6><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Recht auf Benachrichtigung – Mitteilungspflicht im Zusammenhang mit der Berichtigung oder Löschung personenbezogener Daten oder der Einschränkung der Verarbeitung (Artikel 19 DSGVO)</span>
            </h6>
        </li>
        <li class="adsimple-311248012">
            <h6><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Recht auf Datenübertragbarkeit (Artikel 20 DSGVO)</span>
            </h6>
        </li>
        <li class="adsimple-311248012">
            <h6><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Widerspruchsrecht (Artikel 21 DSGVO)</span>
            </h6>
        </li>
        <li class="adsimple-311248012">
            <h6><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Recht, nicht einer ausschließlich auf einer automatisierten Verarbeitung — einschließlich Profiling — beruhenden Entscheidung unterworfen zu werden (Artikel 22 DSGVO)</span>
            </h6>
        </li>
    </ul>
    <h6><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Wenn Sie glauben, dass die Verarbeitung Ihrer Daten gegen das Datenschutzrecht verstößt oder Ihre datenschutzrechtlichen Ansprüche sonst in einer Weise verletzt worden sind, können Sie sich an die <a
            href="https://www.bfdi.bund.de" target="_blank" rel="noopener noreferrer" class="adsimple-311248012">Bundesbeauftragte für den Datenschutz und die Informationsfreiheit (BfDI)</a> wenden.</span>
    </h6>
    <h6 class="adsimple-311248012" data-fontsize="24" data-lineheight="36"><span
            style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">TLS-Verschlüsselung mit https</span>
    </h6>
    <h6><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Wir verwenden https um Daten abhörsicher im Internet zu übertragen (Datenschutz durch Technikgestaltung <a
            href="https://eur-lex.europa.eu/legal-content/DE/TXT/HTML/?uri=CELEX:32016R0679&amp;from=DE&amp;tid=311248012"
            target="_blank" rel="noopener noreferrer" class="adsimple-311248012">Artikel 25 Absatz 1 DSGVO</a>). Durch den Einsatz von TLS (Transport Layer Security), einem Verschlüsselungsprotokoll zur sicheren Datenübertragung im Internet können wir den Schutz vertraulicher Daten sicherstellen. Sie erkennen die Benutzung dieser Absicherung der Datenübertragung am kleinen Schloßsymbol links oben im Browser und der Verwendung des Schemas https (anstatt http) als Teil unserer Internetadresse.</span>
    </h6>
    <h2 class="adsimple-311248012" data-fontsize="24" data-lineheight="36"><span
            style="font-family: arial, helvetica, sans-serif;">Newsletter Datenschutzerklärung</span></h2>
    <h6><span class="adsimple-311248012"
              style="font-weight: 400; font-family: arial, helvetica, sans-serif; font-size: 12pt;">Wenn Sie sich für unseren Newsletter eintragen übermitteln Sie die oben genannten persönlichen Daten und geben uns das Recht Sie per E-Mail zu kontaktieren. Die im Rahmen der Anmeldung zum Newsletter gespeicherten Daten nutzen wir ausschließlich für unseren Newsletter und geben diese nicht weiter.</span>
    </h6>
    <h6><span class="adsimple-311248012"
              style="font-weight: 400; font-family: arial, helvetica, sans-serif; font-size: 12pt;">Sollten Sie sich vom Newsletter abmelden – Sie finden den Link dafür in jedem Newsletter ganz unten – dann löschen wir alle Daten die mit der Anmeldung zum Newsletter gespeichert wurden.</span>
    </h6>

{% endblock %}